.step-title-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--medium-spacing);
    border-bottom: solid  1px var(--grey-colour);
    padding-bottom: var(--medium-spacing);
}

.step-item-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--medium-spacing);
    cursor: pointer;
}

.step-item-title .number {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.step-item-content {
    display: none;
}

.step-item-content.active {
    display: block;
}

.stepper-container .actions {
    display: flex;
    justify-content: space-between;
    margin-top: var(--medium-spacing);
}

.stepper-container .actions button {
    cursor: pointer;
}

.prev {
    background-color: var(--grey-colour);
}

.next {
    background-color: var(--primary-bg-colour);
    color: var(--white-colour);
}

.next.inactive {
    background-color: var(--grey-colour);
    color: var(--primary-bg-colour);
}