.pagination {
    display: flex;
    justify-content: center;
    gap: var(--small-spacing);
    padding: var(--medium-spacing);
}

.pagination a,
.pagination span {
    padding: var(--medium-spacing);
    border: solid 1px var(--grey-colour);
    cursor: pointer;
}

.pagination .disabled {
    color: var(--grey-colour);
}

.pagination .current-page {
    background-color: var(--primary-bg-colour);
    color: var(--white-colour);
}