.reviews-placeholder {
    display: flex;
    flex-direction: row;
    gap: var(--small-spacing);
    border-top: solid 1px var(--grey-colour);
    padding-top: var(--medium-spacing);
}

.reviews-placeholder .star {
    width: "24px";
    height: "24px";
    background-color: var(--grey-colour);
}
