.toolbar {
    display: flex;
    justify-content: flex-end;
    gap: var(--medium-spacing);
    padding: var(--medium-spacing);
    border-top: solid 1px var(--grey-colour);
    border-bottom: solid 1px var(--grey-colour);
}