.basket-container {
    position: relative;
}

.basket-trigger {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small-spacing);
    border: solid 1px var(--grey-colour);
    border-radius: 2px;
}

.basket-trigger span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-trigger span:not(.counter) {
    padding: var(--small-spacing);
}

.basket-trigger .counter {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--cta-colour);
    color: var(--white-colour);
}

.basket {
    position: fixed;   
    top: 0;
    background-color: var(--white-colour);
    border: solid 1px var(--grey-colour);
    height: 100vh;
    z-index: 100;
    transition: linear .5s;
}

.basket.active {
    right: 0;
}

.basket-items {
    min-height: 69vh;
    max-height: 69vh;
    overflow-y: scroll;
}

.basket-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--medium-spacing);
    gap: var(--small-spacing);
    border-bottom: solid 1px var(--grey-colour);
    box-sizing: border-box;
}

.basket-item img {
    object-fit: contain;
}

.basket-item .actions span {
    padding: 0 var(--small-spacing);
    border: solid 1px var(--grey-colour);
    cursor: pointer;
}

.basket-actions {
    height: 60px;
    box-sizing: border-box;
    border-bottom: solid 1px var(--grey-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--medium-spacing);
}

.basket-actions span {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-wrapper {
    padding: var(--medium-spacing);
    box-sizing: border-box;
}

.action-wrapper button {
    background-color: var(--cta-colour);
    color: var(--white-colour);
    border: solid 1px var(--cta-colour);
    border-radius: var(--border-radius);
}

.basket-item .action-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-spacing);
}

.basket-item .action-wrapper .actions {
    display: flex;
}

.basket-item .details {
    display: flex;
    flex-direction: column;
}

.basket-items {
    display: flex;
    flex-direction: column;
    gap: var(--large-spacing);
}

.basket-proceed-actions {
    padding: var(--medium-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-proceed-actions button {
    width: 100%;
    padding: var(--medium-spacing);
    color: var(--white-colour);
    background-color: var(--primary-bg-colour);
    border: solid 1px var(--primary-bg-colour);
    border-radius: var(--border-radius);
}

.basket-proceed-actions button a {
    color: var(--white-colour);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .basket {
        right: -90vw;
        min-width: 90vw;
        max-width: 90vw;
    }
}

@media screen and (min-width: 768px) {
    .basket {
        right: -400px;
        min-width: 400px;
        max-width: 400px;
    }
}