nav ul {
    display: flex;
    gap: var(--medium-spacing);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-colour);
    font-size: 1.2rem;
}

@media screen and (max-width: 768px) {

    nav {
        padding: var(--medium-spacing);
        max-height: 90vh;
        overflow-y: scroll;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

}

@media screen and (min-width:  768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

}