nav ul {
    display: flex;
    gap: var(--medium-spacing);
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--offwhite-colour);
}

@media screen and (max-width: 768px) {

    nav {
        padding: var(--medium-spacing);
        max-height: 90vh;
        overflow-y: scroll;
        background-color: var(--white-colour);
    }

    nav ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        border-bottom: solid 1px var(--offwhite-colour);
        padding: 0 0 var(--medium-spacing) 0;
    }

    nav ul li:last-child {
        border-bottom: 0;
    }

    nav ul li a {
        font-size: 1rem;
        color: var(--primary-bg-colour);
    }

    nav > span {
        display: none;
    }
}

@media screen and (min-width:  768px) {

    nav {
        min-height: 50px;
        display: flex;
        overflow: hidden;
        transition: max-height .5s;
        justify-content: space-between;
        background-color: var(--primary-bg-colour);
    }

    nav > span {
        min-width: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: align-items .5s;
    }

    nav > span img {
        transition: rotate .5s;
        height: 50px;
    }

    nav > span.active img {
        rotate: -180deg;
    }

    nav ul {
        height: fit-content;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: var(--medium-spacing);
        margin: 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

}