header {
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: var(--white-colour);
    z-index: 100;
}

header .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--small-spacing);
}

header .menu-container {
    background-color: var(--primary-bg-colour);
    box-sizing: border-box;
}

.navigation-actions {
    display: flex;
}

.navigation-actions input {
    height: 40px;
}

.logo-section {
    display: flex;
    gap: var(--medium-spacing);
}


@media screen and (max-width: 768px) {
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu .menu-trigger {
        cursor: pointer;
        padding: var(--medium-spacing);
        border: solid 1px var(--grey-colour);
        border-radius: var(--border-radius);
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100vh;
        transition: linear .5s;
        z-index: 100;
    }

    .menu-container.active {
        left: 0;
    }

    .menu-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--white-colour);
        border-bottom: solid 1px var(--white-colour);
    }

    .menu-actions span {
        cursor: pointer;
        padding: var(--medium-spacing);
    }

}

@media screen and (min-width: 768px) {
    
}