header .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--small-spacing);
}

header .bottom-bar {
    background-color: var(--primary-bg-colour);
    padding: var(--small-spacing);
}

.navigation-actions {
    display: flex;
}

.navigation-actions input {
    height: 40px;
}