.image-gallery {
    box-sizing: border-box;
    width: 50%;
    padding: var(--small-spacing);
}

.image-item {
    width: 100%;
    padding: var(--medium-spacing);
    box-sizing: border-box;
}

.image-item img {
    width: 100%;
}