.image-gallery {
    box-sizing: border-box;
}

.image-item {
    box-sizing: border-box;
}

.image-item img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .image-gallery {
        width: 100%;
        min-height: 300px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .image-item {
        min-width: 100vw;
        height: 300px;
    }

    .image-item img {
        height: 300px;
        object-fit: contain;
    }
}

@media screen and (min-width: 768px) {
    .image-gallery {
        width: 50%;
        padding: var(--small-spacing);
    }
    .image-item {
        width: 100%;
        padding: var(--medium-spacing);
    }
}