.product-details {
    position: relative;
}

.product-details-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--medium-spacing);
    padding: var(--medium-spacing);
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .product-details {
        width: 100%;
    }
}

@media screen and (min-widht: 768px) {
    .product-details {
        width: 50%;
    }
}