:root {
  --primary-bg-colour: #003049;
  --secondary-bg-colour: #669bbc;
  --tertiary-bg-colour: #fdf0d5;
  --cta-colour: #c1121f;
  --grey-colour: #e5e5e5;
  --black-colour: #000000;
  --white-colour: #ffffff;
  --small-spacing: 6px;
  --medium-spacing: 12px;
  --large-spacing: 24px;
  --extra-large-spacing: 48px;
  --border-radius: 2px;
  --mobile-breakpoint: 768px;
  --desktop-breakpoint: 768px;
}

body {
  padding: 0;
  border: 0;
  margin: 0;
}

p {
  margin: 0;
  color: black;
}